*.aux
*.bbl
*.blg
*.log
*.pdf
*.log
*.jpeg
*.jpg
*.ps
*.eps
*.bmp
*.aux
*.brf
output.dat
illustrisbh/*
Illustris-3
Figures.zip
*.*~
*.pyc
*.brf
*.fdb_latexmk
*.out
*.gz
*.tar
*.fdb_latexmk
BHs_in_Illustris.synctex.gz
BHs_in_IllustrisNotes.bib
